<div class="row" ng-init="initData()">
  <div class="col-md-12">
    <div class="col-md-9">
        <h1>Player Board</h1>
        <div class="col-md-6">
          <h5>Player 1</h5>
          <img ng-model="team1PlayerPicture" ng-src={{team1PlayerPicture}} class="img-thumbnail" width="140" height=140>
          <div class="team_select_wrapper">
          <label>Select Team</label>
          <select ng-change="updateTeam1PlayerList()" ng-model="team1" ng-options="team.team for team in teams"></select>
          <label>Select Player</label>
          <select ng-model="team1Player" ng-change="updateTeam1PlayerPicture()" ng-options="member.player_name for member in selectedTeam1Member">
            <option value="">select player</option>
          </select>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Player 2</h5>
          <img ng-model="team2PlayerPicture" ng-src={{team2PlayerPicture}} class="img-thumbnail" width="140" height=140>
          <div class="team_select_wrapper">
          <label>Select Team</label>
          <select ng-change="updateTeam2PlayerList()" ng-model="team2" ng-options="team.team for team in teams"></select>
          <label>Select Player</label>
          <select ng-model="team2Player" ng-change="updateTeam2PlayerPicture()" ng-options="member.player_name for member in selectedTeam2Member">
            <option value="">select player</option>
          </select>
          </div>
        </div>
        <div class="col-md-12 controlstate-wrapper clear">
          <div ng-switch on="isBattleStarted">
            <div ng-switch-when="false">
              <button type="button" class="btn btn-success" ng-click="startBattle()" >Start Battle</button>
            </div>
            <div ng-switch-when="true">
              <button type="button" class="btn btn-danger" ng-click="endBattle()">End Battle</button>
            </div>
         </div>
          <div class="buttonstate">Start Match</div>
          <div class="buttonstate">Start Round</div>
          <div class="buttonstate">End Round</div>
        </div>
        <br class="clear"/>
        <h3>Score Board</h3>
        <div class="col-md-12 scoreboard clear">
          <div class="row">
            <div class="col-md-6">
              <textarea class="form-control" rows="15">{{battleLogText}}</textarea>
            </div>
            <div class="col-md-6">
              <div class="logscoretotal left"></div>
            </div>
          </div>
          <!-- <div class="logscrore left">
          </div>
          <div class="logscoretotal left">
          </div> -->
        </div>
        <br class="clear"/>
    </div>
    <div class="col-md-3">
        <h1>Judges</h1>
        <img ng-src="images/judge1.jpg">
        <input type="radio" name="judge1" value="1" id="pokemonRed" ng-model="judge1SelectedPlayer" ng-change="judgeSelectWinner('judge1')"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge1" value="2" id="pokemonBlue" ng-model="judge1SelectedPlayer"><label for="pokemonBlue"> Player 2</label>
        <img src="images/judge2.jpg">
        <input type="radio" name="judge2" value="1" id="pokemonRed" ng-model="judge2SelectedPlayer"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge2" value="2" id="pokemonBlue" ng-model="judge2SelectedPlayer"><label for="pokemonBlue"> Player 2</label>
        <img src="images/judge3.jpg">
        <input type="radio" name="judge3" value="1" id="pokemonRed" ng-model="judge3SelectedPlayer"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge3" value="2" id="pokemonBlue" ng-model="judge3SelectedPlayer"><label for="pokemonBlue"> Player 2</label>
    </div>
  </div>
</div>