<div class="row">
  <div class="col-md-12">
    <div class="col-md-9">
        <h1>Player Board</h1>
        <div class="col-md-6">
          <h5>Player 1</h5>
          <img ng-src="images/judge.jpg">
          <div class="team_select_wrapper">
          <label>Select Team</label>
            <select>
              <option value="husker">Kitty</option>
              <option value="starbuck">Pikaju</option>
              <option value="apollo">vanz</option>
            </select>
            <label>Select Player</label>
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="apollo">Apollo</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Player 2</h5>
          <img ng-src="images/judge.jpg">
          <div class="team_select_wrapper">
          <label>Select Team</label>
            <select>
              <option value="husker">Kitty</option>
              <option value="starbuck">Pikaju</option>
              <option value="apollo">vanz</option>
            </select>
            <label>Select Player</label>
            <select>
              <option value="husker">Kanokon</option>
              <option value="starbuck">Weerasak</option>
              <option value="apollo">Lula</option>
            </select>
          </div>
        </div>
        <br class="clear"/>
        <h3>Score Board</h3>
        <div class="col-md-12 scoreboard clear">
          <div class="logscrore left">
          </div>
          <div class="logscoretotal left">
          </div>
        </div>
        <br class="clear"/>
        <div class="col-md-12 controlstate-wrapper clear">
          <div class="buttonstate">Start Battle</div>
          <div class="buttonstate">Start Match</div>
          <div class="buttonstate">Start Round</div>
          <div class="buttonstate">Finish Round</div>
        </div>
    </div>
    <div class="col-md-3">
        <h1>Judges</h1>
        <img ng-src="images/judge1.jpg">
        <input type="radio" name="judge1" value="Red" id="pokemonRed"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge1" value="Blue" id="pokemonBlue"><label for="pokemonBlue"> Player 2</label>
        <img src="images/judge2.jpg">
        <input type="radio" name="judge2" value="Red" id="pokemonRed"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge2" value="Blue" id="pokemonBlue"><label for="pokemonBlue"> Player 2</label>
        <img src="images/judge3.jpg">
        <input type="radio" name="judge3" value="Red" id="pokemonRed"><label for="pokemonRed"> Player 1</label>
        <input type="radio" name="judge3" value="Blue" id="pokemonBlue"><label for="pokemonBlue"> Player 2</label>
    </div>
  </div>
</div>